@model Factoring.Web.Funcionalidades.RegistrarEmpresa.RegistrarEmpresaViewModel


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Registrar Empresa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NuEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NuEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NuEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NuRuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NuRuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NuRuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TxRazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TxRazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TxRazonSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TxDireccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TxDireccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TxDireccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Seccion de listas en cascada -->
        <div id="persona-ubigeo">
            <div class="form-group">
                @Html.LabelFor(model => model.NoDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.HiddenFor(model => model.NoDepartamento, new { @id = "departamento_nombre", @class = "departamento" })
                    @Html.DropDownList("departamento", Model.Departamentos,
                        new { @id = "persona_departamento", @class = "form-control departamento" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoProvincia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.HiddenFor(model => model.NoProvincia, new { @id = "provincia_nombre", @class = "provincia" })
                    @Html.DropDownList("provincia", Model.Provincias,
                        new { @id = "persona_provincia", @class = "form-control provincia" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoDistrito, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.HiddenFor(model => model.NoDistrito, new { @id = "distrito_nombre", @class = "distrito" })
                    @Html.DropDownList("distrito", Model.Distritos,
                        new { @id = "persona_distrito", @class = "form-control distrito" })
                </div>
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TxRubro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TxRubro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TxRubro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.CoUser, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CoUser, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.CoUser, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.CoUserModif, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CoUserModif, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.CoUserModif, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FeModif, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FeModif, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FeModif, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Grabar" class="btn btn-default" />
                </div>
            </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/registrarpersona")
}
